.profile_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 40%;
    border-radius: 50%;
    border:1px solid #bd2130;
    padding:5px;
    
}